body{
    background: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;  
  }
  
  .reachOut {
      float: left;
      width: 39%;
      text-align: ;
      padding: 10%;
      padding-top: 15%;
  }
  
  .logo {
    margin-bottom: 10%;
  }
  
  .form {
      float: right;
      width: 30%;
      text-align: center;
      padding: 5%;
      padding-top: 15%;
  }